html {
  min-height: 100%; margin:0; padding:0;
}

body {
  margin:0px;
  color:#111111;
  height:100%;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size:large;
  background:#000;
}

A:link {text-decoration:none; color:#008688; }
A:visited {text-decoration:none; color:#008688; }
A:active {text-decoration:none; color:#008688; }
A:hover {text-decoration:underline; color:#00989a; }

img { border:0px; vertical-align:middle; }

button { color:black; background:#ccc; cursor:pointer; font-size:small;
  font-weight:normal; padding:1px 4px; margin:5px 10px 0px 0px;
  border:2px solid black; border-radius:8px; box-shadow:2px 2px 2px #666; }

#contentframingdiv { background:black; height:100vh; }
#contentdiv { margin:0px auto; width:100vw; max-width:600px;
  border-top:3px solid #363636;
  border-bottom:6px solid #363636;
  background-image: url('/img/panelsbg.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
#titlediv { padding-bottom:5px; }
#titleftdiv, #titcenterdiv, #titrightdiv { display:inline-block; }
#titleftdiv { max-width:114px; vertical-align:middle; overflow:hidden; }
#titcenterdiv { width:100px; vertical-align:middle; overflow:hidden; }
#titrightdiv { width:84px; }
.titlespan { font-size:x-large; font-weight:bold; }
#countspan { font-size:medium; padding:0px 10px; }
#rtfmdiv { text-align:center; font-size:x-small; }
#statspan { font-size:small; padding-left:10px; }
.paneldiv { border:5px solid #333; border-radius:0px;
  padding:5px 6px 10px 6px; }
#pandbdiv { padding:10px 6px 0px 6px; }
#pandeckdiv { padding:10px 6px 4px 6px; }

/****************************************/
/* DB Panel */

.buttonico { max-height:30px; vertical-align:middle; padding:0px 5px; }
#topdlgdiv { display:table; max-height:180px; overflow:scroll; }
.dlgbuttonsdiv { text-align:center; padding-bottom:10px; }
.statdiv { font-size:medium; }

.pathdiv { font-size:small; }
.pathlabelspan, .pathlabelgreyspan { font-size:x-small; font-style:italic; }
.pathlabelgreyspan { color:#666; }
.pathspan {}
.infospan { font-size:x-small; margin:0px 2px; }
.expoptdiv { font-size:medium; padding:5px 0px 5px 8px; }
#exportfileindiv { margin-left:20px; }

.statespan { padding-right:5px; }
.counterlabel { font-size:medium; font-style:italic; padding-right:5px; }
.countspan { font-size:medium; padding-right:5px; }
.mergemsgdiv { font-size:small; }
.cldiv { font-size:small; }

.kwseldiv { display:inline-block; margin-right:5px; }
.kwdselnum { font-size:small; }
#restartwithseldiv { margin-top:10px; }
#kwupdtablediv { min-width:200px; }
#kwdseltable { margin:5px auto; }
.kwdtr { font-size:small; }
.rowbuttonimg { max-height:20px; }
.kddescrdiv { background:white; font-size:small; }

#igfdiv { max-height:100px; overflow:scroll; margin:0px 0px 10px 0px;
  border:1px solid; padding:3px; }
.igftr { font-size:small; }
.igftr td { padding:0px 10px 0px 0px; }
#igfindiv label { font-size:small; margin:0px 5px 0px 0px; }

#bmdsongsdiv { max-height:100px; overflow:scroll; margin:0px 0px 10px 0px;
  border:1px solid; padding:3px; }
.bmdsonglinkdiv { font-size:small; }

.formattr { font-size:small; text-align:right; }
.cblab { font-size:small; }
#hubaccttopdiv { font-size:small; padding-left:4px; }
.fhselspan { color:#FFAB00; }
.formvalspan { font-size:medium; color:#666; font-style:italic;
  margin-left:2px; }
#hubacctseldiv { min-width:200px; }
#hubacctseldiv table { margin:0px auto; }
.dachoicediv { min-width:100px; }

.musflinksspan { font-size:small; }
.sepcomspan { padding:0px 5px 0px 0px; }
#musflabelspan { font-size:medium; font-weight:bold; }
#musfinfonamespan { font-size:medium; }

#mfsdiv { font-size:medium; }
#mfbdiv { display:inline-block; padding:0px 0px 0px 6px; }
#amfsdiv { margin-top:10px; font-size:medium; }
#amfsdiv select { margin:0px 6px 0px 6px; }
.mflinenospan { cursor:pointer; }
.mflinenospandis { opacity:0.4; }
.friendinfotogimg { max-height:16px; margin:0px 4px 2px 0px; }
#mfsubstatdiv { padding:4px 0px 0px 0px; }
#mfsubformdiv label { margin-right:4px; }
#mfsubformdiv input { margin-right:4px; }
#mfsubformbdiv, #mfinvdonebdiv { display:inline-block; }
#mfinvitelink { font-weight:bold; font-size:large; }

#ciheadingdiv { font-size:small; padding:0px 0px 7px 0px; font-style:italic; }
.filenamespan { font-style:normal; }
#configstatdiv { font-size:medium; padding:10px 0px 5px 0px; }
.configitemdiv { padding:10px 0px; }


/****************************************/
/* Player Panel */

#playertitle { font-size:18px; margin-bottom:1px; padding-top:4px;
  max-height:18px; overflow:hidden; }
#playtitlebuttonsdiv { float:right; min-height:18px; margin-top:-4px; }
#modindspan { color:#ffab00; padding-right:5px; font-weight:bold; }
.indicatorlightcolor { color:#ffab00; }
.ptico { vertical-align:middle; height:18px; max-height:18px; cursor:pointer;
  padding:1px; }
#tuneopta { margin-right:10px; }
.tuneoptiondiv { display:inline-block; font-size:small; padding-right:10px; }
.tuneoptdetattr, .spotdetattr { text-align:right; font-size:small;
  font-style:italic; margin:0px 10px 0px 0px; }
.tuneoptdetval, .spotdetval { text-align:left; font-size:small; }
#pmsgdiv { font-size:small; font-weight:bold; }
#spotdetactdiv { font-size:small; max-width:290px; }
#tunedetwrktable { padding:0px 0px 0px 22px; }

#impressiondiv { position:relative; }
.pandiv { display:inline-block; position:relative; }
#elpandiv { margin-right:7px; }
.pancontdiv { width:140px; height:40px; cursor:pointer;
  border: 2px solid #777; border-radius:10px; }
.panbgdiv, .panfacediv { position:absolute; left:50px; top:2px;
  border-radius:22px; }
.panleftlabdiv, .panrightlabdiv { 
  position:absolute; bottom:3px; font-size:small; }
.panleftlabdiv { left:5px;  }
.panrightlabdiv { right:5px; }
.panbackimg { max-height:44px; }
.panfaceimg { max-height:40px; }
.pandragdiv { position:absolute; left:0px; top:0px; }
.pandrgbdiv { position:absolute; left:0px; top:0px; }

#panplaymousingdiv { position:relative; }
#mediaoverlaydiv { position:absolute; top:0px; left:2px; background:#ffab00;
  padding:8px 12px; font-size:medium; border-radius:14px; }
#keysratdiv { margin-left:-2px; }
#kwdsdiv { display:inline-block; }
#rvdiv { display:inline-block; padding-left:8px; }
.kwdtogoff, .kwdtogon { color:white; background:#333; font-size:small; 
  padding:0px 2px; margin:2px; border-radius:0px; }
.kwdtogon { color:#ffab00; box-shadow:1px 1px 1px #666; }
#kwdexpb, #addkwb { background:transparent; padding:0px 2px; margin:0px 5px; }
#addkwb { margin-left:0px; }
#togcommentlink { padding-left:24px; }
#togsleepimg { max-height:16px; margin-left:14px; }
#commentta { padding:3px 5px; }
#sleepdiv { font-size:medium; }

#pluidiv { background:#333; margin:2px 0px 6px 0px; padding:10px 0px;
  max-width:290px; }
#pluibdiv { display:inline-block; padding:2px 2px 2px 6px; }
#pluibimg { max-height:20px; max-width:20px; }
#pluiprogdispdiv { display:inline-block; position:relative; }
#pluiprogbgdiv, #pluiprogdiv, #pluiprogclickdiv {
  position:absolute; bottom:2px; left:16px; }
#pluiprogbgdiv, #pluiprogdiv { height:6px; }
#pluiprogbgdiv { background:black; }
#pluiprogdiv { background:#666; }
#pluiposdiv { position:absolute; bottom:2px; left:24px; width:68px;
  text-align:center; }
#pluitimeposdiv, #pluitimesepdiv, #pluitimedurdiv {
  display:inline-block; color:#ffab00; }
#pluitimeposdiv, #pluitimedurdiv { font-size:14px; vertical-align:super; }
#pluiprogclickdiv { height:28px; bottom:-8px; }



/****************************************/
/* Filter Panel */

.paneltitlediv { font-size:x-small; text-align:center; letter-spacing:1.2em; 
  font-weight:bold; }
.rangectrldiv { display:inline-block; position:relative; 
  margin:5px 10px 5px 0px; }
.rangetitlediv { position:absolute; top:5px; left:87px; font-size:large; }
.rangelowlabeldiv, .rangehighlabeldiv { position:absolute; top:36px;
  font-size:medium; color:#333; }
.rangelowlabeldiv { left:42px; }
.rangehighlabeldiv { right:15px; }
.rangeleftcurtdiv, .rangerightcurtdiv { position:absolute; top:2px;
  height:52px; background:black; opacity:0.2; }
.rangeleftcurtdiv { left:26px; }
.rangerightcurtdiv { right:2px; }
.vnobdiv { position:absolute; top:0px; left:0px; }
.hnobdiv { position:absolute; top:0px; left:0px; }
.mouseareadiv { position:absolute; top:0px; left:0px; cursor:pointer; }
.rngslidebg { position:absolute; top:0px; left:0px; }

#bowtiesdiv { text-align:center; }
.bowtiediv { display:inline-block; font-size:medium;
  margin:5px 10px 5px 0px; padding:5px;
  border:2px solid #777; border-radius:10px;
}
.btlabeldiv { text-align:center; }
.btlaba:link { text-decoration:none; color:#333; }
.btlaba:visited { text-decoration:none; color:#333; }
.btlaba:active { text-decoration:none; color:#333; }
.btlaba:hover { text-decoration:none; color:#333; }
.btleftb, .btmidb, .btrightb { color:white; background:#333; font-size:18px; 
  padding:4px 8px; margin:0px 2px; border:0px; border-radius:0px;
  box-shadow:1px 1px 1px #666; }
.btleftb { border-radius:10px 0px 0px 10px; }
.btrightb { border-radius:0px 10px 10px 0px; }

#ratdiv { margin:5px 10px 5px 0px; }
.gtoreqspan { font-size:large; font-weight:bold; }
.ratstarscontainerdiv { display:inline-block; width:85px; height:15px; }
.ratstarsanchordiv { position:relative; cursor:pointer; }
.ratstarbgdiv { position:absolute; top:0px; left:0px; }
.ratstarseldiv { position:absolute; top:0px; left:0px; overflow:hidden; }
#ratstardragdiv, #filtstardragdiv { position:absolute; top:0px; left:0px;
  width:85px; height:15px; }
#incluntb { background:#333; font-size:12px; width:120px;
  padding:2px 6px; margin-left:10px; border:0px; border-radius:0px;
  box-shadow:1px 1px 1px #666; }

#fqftogdiv { display:inline-block; opacity:0.75; }
#fqtogb { border-radius:0px; box-shadow:unset; border:3px solid black;
  margin:5px 0px 0px 10px; }

/****************************************/
/* Deck Panel */

#deckheaderdiv { padding-bottom:5px; }
.ico20 { height:20px; max-height:20px; }
#togfiltb { margin-right:5px; }
#srchin { margin-right:2px; }
#clrsrchdiv { display:inline-block; margin-left:-14px; width:14px;
  overflow:hidden; vertical-align:middle; }
#toginfob, #togalb, #togviewsb { margin-left:6px; }
.dinfrecdiv { font-size:medium; }
.dinfrecnspan { font-size:small; }
#decksongsdiv, #deckalbumdiv, #deckinfodiv, #deckhistorydiv, #decknewestdiv {
  height:160px; min-height:160px; max-height:160px; overflow:scroll; }

.songtitlediv { font-size:medium; position:relative; padding:0px 0px 4px 0px; }
.dsarspan { font-size:small; }
.dsabspan { font-size:small; font-style:italic; }
.decksongactdiv { position:absolute; top:0px; left:20px; z-index:1;
  background:rgba(144, 144, 144, 0.6); padding:0px 8px; border-radius:5px; }
.sopa { margin-left:30px; }
.sopx, .sopfrsugdiv { color:white; background:#999; }

.albumsongdiv { font-size:smaller; margin:5px 0px; }
.albumsonglink { display:block; font-size:smaller; padding:0px 0px 2px 15px; }
.albumarrow { padding-right:3px; vertical-align:middle; }

.vtab, .vtabsel { display:inline-block; font-size:small; padding:2px 6px;
  margin:0px 10px 0px 0px; border-radius:5px; border:1px solid black; }
.vtab { }
.vtabsel { background:#ffab00; }
#deckvtabsdiv { padding:0px 0px 6px 0px; letter-spacing:0.2em; }
#deckvcontdiv { }

