/* Minimum screen width is assumed to be 360px */
html {
  min-height: 100%; margin:0; padding:0;
}

body {
  margin:0px;
  color:#111111;
  height:100%;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size:large;
  background:#000;
  overflow:hidden;  /* vertidrag controls fail if app scrolls */
}

A:link {text-decoration:none; color:#008688; }
A:visited {text-decoration:none; color:#008688; }
A:active {text-decoration:none; color:#008688; }
A:hover {text-decoration:underline; color:#00989a; }

img { border:0px; vertical-align:middle; }

button { color:black; background:#ccc; cursor:pointer; font-size:small;
  font-weight:normal; padding:1px 4px; margin:5px 32px 0px 0px;
  border:2px solid black; border-radius:8px; box-shadow:2px 2px 2px #666; }

#contentframingdiv { height:100vh; background-image: url('../img/desktop.png');
  background-attachment: fixed; background-size: cover;
  background-repeat: no-repeat; }
#contentmargindiv { height:100vh; max-width:564px; margin:0px auto;
  overflow:hidden auto;
  background-image: url('../img/projbox.png');
  background-attachment: scroll;
  background-size: 564px 300px;  /*player.uiu.adjustFramingBackgroundHeight*/
  background-repeat: no-repeat; }
#contentdiv { margin:0px auto; width:100vw; max-width:512px;
  border-top:3px solid #363636;
  border-bottom:6px solid #363636; }
#appoverlaydiv { position:absolute; left:0px; top:12px; width:100%; }
#docdispdiv { padding:5px; background:#ffc2a4; color:#111111;
  max-width:600px; margin:auto; }
#docdispxdiv { float:right; padding-left:10px; }
#docmenubardiv { font-size:small; background:#ff9c6b; padding:5px 8px;
  display:flex; justify-content:space-between; }
#docdispbodydiv { min-height:95vh; max-height:95vh; overflow:scroll;
  padding:0px 10px; }
#docdispbodydiv h1 { text-align:center; }
#titlediv { padding-bottom:5px; display:flex; justify-content:space-between; }
#titleftdiv, #titcenterdiv, #titrightdiv { display:inline-block;
  vertical-align:middle; }
.titlespan { font-size:x-large; font-weight:bold; }
#countspan { display:none; font-size:small; padding:0px 10px; }
.vpadtxtdiv { display:inline-block; padding:8px 0px; }
.linkdescrspan { font-size:small; }
#rtfmdiv { text-align:center; font-size:small; }
#logdispdiv {}
#logdispheaderdiv { font-weight:bold; }
#logdispcontdiv {}
.logdisplinediv { border-bottom:1px solid #363636; }
.logdisplinetspan { font-size:small; font-style:italic; padding-right:5px; }
.logdisplinecspan { font-size:small; font-weight:bold; }
.logdisplinemspan { font-size:medium; }
#statspan { font-size:small; padding-left:10px; }
.paneldiv { border:3px solid #333; border-radius:5px;
  box-shadow:3px 3px 6px #333;
  padding:5px 6px 10px 6px;
  background-image: url('../img/panelsbg.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
#pantopdiv { padding-bottom:0px; border-radius:0px 0px 30px 30px; 
  position:relative; }
#pandeckdiv { padding:10px 6px 4px 6px; height:430px; max-height:430px;
  overflow:hidden; border-radius:30px; }
.inv { }

/****************************************/
/* Hub/Library Panel */

.buttonico { max-height:36px; vertical-align:middle; padding:0px 5px; }
#topdlgdiv { max-height:180px; overflow:scroll; }
.dlgbuttonsdiv, .dlgbstight { text-align:center; padding-bottom:10px; }
.dlgbstight button { margin:5px 10px 0px 0px; }
.statdiv { font-size:small; }
#toponelinestatdiv { max-height:1em; overflow:hidden; white-space:nowrap;
 position:absolute; left:15px; bottom:0px; padding:0px;
 background:#ccc; color:#333; }
#toponelinestatdiv, #topstatdiv, #topdlgdiv { padding:0px 15px; }

#carryrptdiv { font-size:small; }
#crttlsdiv { text-align:center; }
.crsumitemdiv { display:inline-block; font-size:small; padding:0px 5px; }
.crsumitemval { padding-right:3px; }
.crsumitemattr { font-style:italic; }
.crsectitdiv { font-weight:bold; padding-top:4px; }
.radiobdiv { display:inline-block; }
#offloadsdiv { font-size:small; }
.suggul { margin:0px; padding-left:24px; }
.emptysuggdiv { margin:5px 10px; }
.hubupdconfspan { padding-left:10px; }
.carryarspan { font-style:italic; padding-right:5px; }
.carrypcntspan { font-size:x-small; padding-left:5px; }

.pathdiv { font-size:medium; }
.pathlabelspan, .pathlabelgreyspan { font-size:small; font-style:italic; }
.pathlabelgreyspan { color:#666; }
.pathspan {}
.infospan { font-size:medium; margin:0px 2px; }
.expoptdiv { font-size:medium; padding:5px 0px 5px 8px; }
#exportfileindiv { margin-left:20px; }

.countspan { font-size:medium; padding-right:5px; }
.cldiv { font-size:small; }

#kwupdtablediv { min-width:200px; }
#kwdseltable { margin:5px auto; }
.kwdtr { font-size:small; }
.rowbuttonimg { max-height:20px; }
.kddescrdiv { background:white; font-size:small; }

#igfdiv { max-height:100px; overflow:scroll; margin:0px 0px 10px 0px;
  border:1px solid; padding:3px; }
.igftr { font-size:small; }
.igftr td { padding:0px 10px 0px 0px; }
#igfindiv label { font-size:small; margin:0px 5px 0px 0px; }

#bmdsongsdiv { max-height:100px; overflow:scroll; margin:0px 0px 10px 0px;
  border:1px solid; padding:3px; }
.bmdsonglinkdiv { font-size:small; }

.formattr { font-size:small; text-align:right; }
#afgtopdiv { font-size:small; padding-left:4px; }
#afgcontdiv { position:relative; padding-bottom:10px; }
#afgextradiv { font-size:small; text-align:right; padding-right:10px; }
.settingsrowdiv { padding:12px 0px; }
#wkactdaysel { margin-left:8px; }
#formfunctogdiv { float:left; margin:5px 0px 0px 30px; }
#dmsoConfirmDiv { text-align:left; }
.fhselspan { color:#FFAB00; }
.formvalspan { font-size:medium; color:#666; font-style:italic;
  margin-left:2px; }
#mfsrchdiv { text-align:right; font-size:small; }
#mfsrchstatdiv { padding: 2px 5px; }
#fgaoverlaydiv { position:absolute; top:0px; left:0px; }
.fgacelldiv, .fgacelldivnum { display:inline-block; font-size:small;
  padding:0px 10px 0px 0px; width:100%; font-weight:bold; }
.fgacelldivnum { text-align:right; }
.fgasortcoldiv { background:#ffab00; border-radius:6px; padding:0px 2px; }
.fmtypespan { background:#ffce69; color:#333; font-size:x-small;
  font-style:italic; }
#fgaemptyhtmldiv { font-size:small; }
.msgactionsdiv { padding:0px 0px 5px 10px; }
.msgactionsdiv button { font-size:x-small; margin:0px 16px 0px 0px; }
.donenotediv { font-size:small; }
#msgstatdiv { font-size:small; padding:16px 0px 2px 0px; }
#msgstatdiv button { background:transparent; }

#ciheadingdiv { font-size:small; padding:0px 0px 7px 0px; font-style:italic; }
.filenamespan { font-style:normal; }
#configstatdiv { font-size:medium; padding:10px 0px 5px 0px; }
.configitemdiv { padding:10px 0px; }


/****************************************/
/* Player Panel */

/* Bold kanjii at 18px needs 20px containing height to not get cut off.
   Normal english without baseline dip letters like 'g', 'y' etc will
   show 1px of top of next wrapped line if just max-height:20px, so need
   line-height to not see wrap. */
#playertitle { font-size:18px; margin-bottom:1px; padding-top:4px;
  max-height:20px; line-height:20px; overflow:hidden; }
.dstispan { /* must be inline span for formatting flow */ }
#playtitlebuttonsdiv { float:right; min-height:18px; margin-top:-4px; }
#modindspan { color:#ffab00; padding-right:5px; font-weight:bold; }
.indicatorlightcolor { color:#ffab00; }
.ptico { vertical-align:middle; height:18px; max-height:18px; cursor:pointer;
  padding:1px; }
.togdlgabspos { position:absolute; top:48px; left:10px; }
#frequencyoptionsdiv { text-align:center; background:whitesmoke; width:300px;
  border-radius:8px; }
#tuneopta { margin-right:10px; }
.tuneoptiondiv { display:inline-block; font-size:small;
  padding:0px 14px 0px 3px; }
.tunactimg { max-height:22px; }
#tunedetdiv { margin-top:8px; position:relative; }
#prevplaydiv, #songurldiv, #playcountdiv, #genresdiv { font-size:x-small; }
#dupesdispdiv { padding-left:32px; }
#albtireddiv { position:absolute; top:-70px; left:0px; text-align:center;
  width:300px; }
#albtiredconfcontdiv { background:whitesmoke; padding:5px; border-radius:10px;
  width:300px; font-size:medium; }
#pmsgdiv { font-size:small; font-weight:bold; }
#abactoptsdiv { text-align:center; padding-bottom:10px; }
#audioplayerdiv { display:flex; justify-content:left; align-items:center;
  min-height:50px; padding-left:25px; }  /* mobile playback UI fits with pad */
#audiodiv { display:inline-block; }
#nextsongdiv { display:inline-block; height:20px; padding:5px; margin-left:5px;
  border: 2px solid #777; border-radius:10px;}
.bgtransitionfade { transition:background-color 750ms; }

#mediadiv { margin-bottom:4px; user-select:none; -webkit-user-select:none; }
#impressiondiv { position:relative; user-select:none; -webkit-user-select:none; }
#panpotsdiv { position:relative; padding-left:25px; user-select:none; -webkit-user-select:none; }
.pandiv { display:inline-block; position:relative; user-select:none; -webkit-user-select:none; }
#alpandiv { margin-right:7px; }
.pancontdiv { width:140px; height:40px; cursor:pointer;
  border: 2px solid #777; border-radius:10px; user-select:none; -webkit-user-select:none; }
.panbgdiv, .panfacediv { position:absolute; left:50px; top:2px;
  border-radius:22px; user-select:none; -webkit-user-select:none; }
.panleftpaddlediv, .panrightpaddlediv { position:absolute; top:2px;
  overflow:hidden; border-radius:10px; user-select:none; -webkit-user-select:none; }
.panleftpaddlediv { left:2px; }
.panrightpaddlediv { right:-2px; }
.pansurrbgdiv { position:absolute; top:2px; left:0px; height:40px;
  border-radius:22px; user-select:none; -webkit-user-select:none; }
.panleftlabdiv, .panrightlabdiv { position:absolute; bottom:6px;
  font-size:small; text-align:center; user-select:none; -webkit-user-select:none; }
.panleftlabdiv { left:5px; }
.panrightlabdiv { right:5px; }
.panbackimg { max-height:44px; user-select:none; -webkit-user-select:none; }
.panfaceimg { max-height:40px; user-select:none; -webkit-user-select:none; }
#pandragcontdiv { position:absolute; top:0px; left:25px; user-select:none; -webkit-user-select:none; }
.pandragdiv { position:absolute; left:0px; top:0px; cursor:pointer;
  user-select:none; -webkit-user-select:none; }
.panddecdiv { position:absolute; left:0px; top:0px; user-select:none; -webkit-user-select:none; }

#panplaydiv { position:relative; }
#panplaymousingdiv { position:relative; user-select:none; -webkit-user-select:none; }
#mediaoverlaydiv { position:absolute; top:0px; left:2px; background:#ffab00;
  padding:8px 12px; font-size:medium; border-radius:14px; }
#keysratdiv { margin-left:-2px; margin-top:7px; user-select:none; -webkit-user-select:none; }
#kwdsdiv { display:inline-block; user-select:none; -webkit-user-select:none; }
#kwdsdiv button { user-select:none; -webkit-user-select:none; }
#kwdin { margin-right:4px; }
#addkwb { user-select:none; -webkit-user-select:none; }
.buttondlgdiv { display:inline-block; }
.buttondlgdiv button { margin:4px; }
#starsnbuttonsdiv { padding:10px 0px 2px 22px; position:relative;
  user-select:none; -webkit-user-select:none; }
#rvdiv { display:inline-block; padding-left:8px; user-select:none; -webkit-user-select:none; }
#playerbuttonsdiv { display:inline-block; vertical-align:top;
  user-select:none; -webkit-user-select:none; }
.playerbdiv { display:inline-block; position:relative; user-select:none; -webkit-user-select:none; }
.playerbdiv a { user-select:none; -webkit-user-select:none; }
.playerbdiv a img { user-select:none; -webkit-user-select:none; }
.plbimg { max-height:24px; margin:0px 20px 0px 16px; }
#sleepcntssdiv { position:absolute; top:0px; left:33px; font-size:x-small; }
.kwdtogoff, .kwdtogon { color:white; background:#333; font-size:medium; 
  padding:0px 2px; margin:4px; border-radius:0px; }
.kwdtogon { color:#ffab00; box-shadow:1px 1px 1px #666; }
#kwdexpb, #addkwb { background:transparent; padding:0px 2px; margin:0px 5px; }
#addkwb { margin-left:0px; }
#commentdispdiv { position:absolute; top:48px; left:10px; }
#commentta { padding:3px 5px; background:#f3dfb6; border:1px solid #333; }
#sleepdiv { position:absolute; top:11px; left:105px; width:200px;
  background:rgba(255, 171, 0, 0.9); padding:0px 8px; border-radius:5px;
  text-align:right; font-size:medium; user-select:none; -webkit-user-select:none; }

#panplayoverlaydiv { position:absolute; top:0px; left:0px; user-select:none; -webkit-user-select:none;
  background:rgba(255, 171, 0, 0.7);}
#ppocontdiv { background:rgba(200, 200, 200, 0.9); position:relative;
  border-radius:20px; margin:5px; height:160px; width:345px; }
#pposidiv { position:absolute; top:5px; left:5px; }
#sharedispdiv { display:flex; align-items:center; justify-content:center;
  /* match ppocontdiv height: */ height:140px; padding-top:20px; }
#sharedispdiv div { display:flex; flex-direction:column;
  justify-content:space-around; height:90px; }
#sharedispdiv #shbdiv { justify-content:space-between; }
#sharesrcimg {height:44px; margin-right:4px; }
#sharrowimg { height:58px; }
#sharestatdiv { position:absolute; top:60px; left:20px; }
#resstatcontdiv { background:#ffab00; padding:8px; border-radius:12px; }

#pluidiv { background:#333; margin:2px 0px 6px 0px; padding:10px 0px;
  min-width:290px; max-width:290px; user-select:none; -webkit-user-select:none; }
#pluibdiv { display:inline-block; padding:2px 2px 2px 6px; user-select:none; -webkit-user-select:none; }
#pluibimg { max-height:20px; max-width:20px; user-select:none; -webkit-user-select:none; }
#pluiprogdispdiv { display:inline-block; position:relative; user-select:none; -webkit-user-select:none; }
#pluiprogbgdiv, #pluiprogdiv, #pluiprogclickdiv {
  position:absolute; bottom:2px; left:16px; user-select:none; -webkit-user-select:none; }

#pluiprogbgdiv, #pluiprogdiv { height:6px; }
#pluiprogbgdiv { background:black; }
#pluiprogdiv { background:#666; }
#pluiposdiv { position:absolute; bottom:2px; left:24px; width:68px;
  text-align:center; user-select:none; -webkit-user-select:none; }
#pluitimeposdiv, #pluitimesepdiv, #pluitimedurdiv {
  display:inline-block; color:#ffab00; user-select:none; -webkit-user-select:none; }
#pluitimeposdiv, #pluitimedurdiv { font-size:14px; vertical-align:super; }
#pluiprogclickdiv { height:28px; bottom:-8px; }



/****************************************/
/* Filter Panel */

#panfiltdiv, #panfiltcontentdiv, filtpanelcontdiv { user-select:none; -webkit-user-select:none; }
#rangesdiv { display:flex; justify-content:space-around; user-select:none; -webkit-user-select:none; }
.rangectrldiv { display:inline-block; position:relative; user-select:none; -webkit-user-select:none; }
.rangetopdispdiv { position:relative; user-select:none; -webkit-user-select:none; }
.rangebgraddiv { position:absolute; top:0px; left:0px; user-select:none; -webkit-user-select:none;
  outline:2px solid #777; }
.rangetitlediv { position:absolute; top:10px; left:0px; width:100%;
  text-align:center; font-size:x-small; letter-spacing:0.2em; color:#777;
  user-select:none; -webkit-user-select:none; }
.rangeleftcurtdiv, .rangerightcurtdiv { position:absolute; top:0px;
  height:120px; background:black; opacity:0.3; user-select:none; -webkit-user-select:none; }
.rangeleftcurtdiv { left:0px; }
.rangerightcurtdiv { right:0px; }
.rangesurfdiv { position:absolute; user-select:none; -webkit-user-select:none; }
.rangelowlabeldiv, .rangehighlabeldiv { position:absolute; bottom:0px;
  font-size:medium; color:#666; user-select:none; -webkit-user-select:none; }
.rangelowlabeldiv { left:7px; }
.rangehighlabeldiv { right:7px; }
.rangesurfdiv svg { position:absolute; left:0px; top:0px; user-select:none; -webkit-user-select:none; }
.mouseareadiv { position:absolute; top:0px; left:0px; cursor:pointer;
  user-select:none; -webkit-user-select:none; }
#kwtogsdiv { text-align:center; overflow:hidden; margin-top:-6px;
  user-select:none; -webkit-user-select:none; }
.kwtogdiv { display:inline-block; font-size:medium; padding:0px 0px 5px 0px;
  user-select:none; -webkit-user-select:none; }
.kwtcontdiv { cursor:pointer; position:relative; width:72px; user-select:none; -webkit-user-select:none; }
.kwtoglabel { position:absolute; left:6px; top:0px; transform-origin:top left;
  transform:rotate(90deg) translate(0%, -100%); max-width:58px;
  overflow:hidden; font-size:14px; margin-top:5px; user-select:none; -webkit-user-select:none; }
.kwtbdiv { user-select:none; -webkit-user-select:none; }
.kwtbdiv img { user-select:none; -webkit-user-select:none; }
#kwdseltogdiv { display:inline-block; margin:0px 8px 0px -8px;
  user-select:none; -webkit-user-select:none; }
#kwdseltogdiv a { user-select:none; -webkit-user-select:none; }
#kwdseltogdiv a img { user-select:none; -webkit-user-select:none; }

#ratdiv { margin:0px 5px 0px 0px; text-align:center; user-select:none; -webkit-user-select:none; }
#toginfob, #toghistb, #pullscopeb, #incluntb, #fqftogdiv { user-select:none; -webkit-user-select:none; }
.gtoreqspan { font-size:large; font-weight:bold; }
.ratstarscontainerdiv { display:inline-block; margin-right:20px;
  user-select:none; -webkit-user-select:none; }
.ratstarsanchordiv { position:relative; cursor:pointer; user-select:none; -webkit-user-select:none; }
.ratstarbgdiv { position:absolute; top:0px; left:0px; user-select:none; -webkit-user-select:none; }
.ratstarbgdiv img { user-select:none; -webkit-user-select:none; }
.ratstarseldiv { position:absolute; top:0px; left:0px; overflow:hidden;
  user-select:none; -webkit-user-select:none; }
.ratstarseldiv img { user-select:none; -webkit-user-select:none; }
#ratstardragdiv { position:absolute; top:0px; left:0px; user-select:none; -webkit-user-select:none; }
#incluntb, #pullscopeb { background:#333; font-size:12px;
  padding:2px 6px; margin:5px 5px 0px 5px; border:0px; border-radius:0px;
  box-shadow:1px 1px 1px #666; }
#incluntb { width:110px; }
#pullscopeb { width:90px; }

#fqftogdiv { display:inline-block; opacity:0.75; }
#fqtogb { border-radius:0px; box-shadow:unset; border:3px solid black;
  margin:5px 0px 0px 10px; user-select:none; -webkit-user-select:none; }

/****************************************/
/* Deck Panel */

#deckheaderdiv { padding:0px 20px 8px 20px; text-align:center;
  margin-top:-5px; }
.mdmbimg { height:26px; width:26px; margin:2px; }
.mdmbdiv, .mdmbdivact { display:inline-block;  margin:0px 30px;
  width:30px; height:30px; border-radius:15px; cursor:pointer; }
.mdmbdivact { background:#ffab00; }
.ico20 { height:20px; max-height:20px; }
#togfiltb { margin-right:5px; }
#srchcountsdiv { font-size:small; }
#srchctrlsdiv { text-align:center; }
.srchfcbdiv { display:inline-block; white-space:nowrap; margin:0px 8px;
  font-size:x-small; }
#srchin { margin-right:2px; border:2px solid #999; border-radius:5px;
  font-size: large; }
#clrsrchdiv { display:inline-block; margin-left:-19px; width:14px;
  overflow:hidden; vertical-align:middle; }
#srchresdiv { overflow:scroll; padding:4px 5px 11px; }
.srchresmatchvspan { font-weight:bold; }
.srchxpctoga { padding-right:5px; }
.rsltabchildrendiv { padding-left:16px; }
.noplaylinka { opacity:0.4; }
#toghistb { margin-left:-16px; margin-right:16px; }
#toginfob { margin-left:-8px; margin-right:8px; }
#deckhistorydiv { position:absolute; top:0px; left:0px; }
#fresframediv { position:absolute; top:0px; left:12px; padding:2px 16px; }
#deckfresdiv { padding:2px 5px; background:#ffce69; color:#666; }
.dinfrectd { text-align:right; }
.dinfrectspan { font-size:medium; }
.dinfrecnspan { font-size:small; }
#csacontentdiv { position:relative; }
#csaqueuediv, #deckhistorydiv { padding:5px; overflow:scroll; }
/* title font-size inherited from containing element for player layout */
.songtitlediv { position:relative; padding:0px 0px 4px 0px; }
.dsarspan { font-size:small; }
.dsabspan { font-size:small; font-style:italic; }
.decksongactdiv { position:absolute; top:0px; left:20px; z-index:1;
  background:rgba(144, 144, 144, 0.6); padding:0px 8px; border-radius:5px; }
.sopa { margin:0px 30px; }
.dsoidiv { display:inline-flex; width:28px; height:28px; border-radius:14px;
  align-items:center; justify-content:center;
  background:rgba(64, 64, 64, 0.6); }
#albdispdiv { position:relative; padding:0px 0px 0px 10px; }
#albsuggtogdiv { position:absolute; top:0px; right:10px; }
#albsuggsframediv { position:absolute; top:0px; left:10px; }
#albsuggsdiv { padding:8px; background:#ffce69; color:#666; font-size:medium;
  border-radius:5px; }
#albsuggstitlediv { font-size:small; text-align:center; margin-bottom:2px; }
#albplaydiv { overflow:scroll; }
.sgalbdiv { padding:8px 5px; }
.sgalbarspan { font-style:italic; }
.albumsonglink { display:block; font-size:smaller; padding:0px 0px 2px 15px; }
.albumarrow { padding-right:3px; vertical-align:middle; }
.vtab, .vtabsel { display:inline-block; font-size:small; padding:2px 6px;
  margin:0px 10px 0px 0px; border-radius:5px; border:1px solid black; }
.vtab { }
.vtabsel { background:#ffab00; }

/****************************************/
/* Manual */

code { font-size:medium; }
.manimg, .manimginv { max-height:20px; margin:0px 5px; }
.manimginv { filter:invert(100%); }
.manmdimg { max-height:25px; }
.manlgimg { max-height:40px; padding-bottom:4px; }
.manrcimg { max-height:100px; padding-bottom:4px; }
.manicotable { font-size:medium; }
.topicdiv h2 { margin-bottom:4px; }
.platseldiv { font-size:medium; }
.platseloptdiv { display:inline-block; padding:0px 12px; }
.expansionindicatordiv { display:inline-block; }
