html {
  min-height: 100%; margin:0; padding:0;
}

body {
  margin:0px;
  color:#111111;
  height:100%;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size:large;
  background:#000;
}

A:link {text-decoration:none; color:#008688; }
A:visited {text-decoration:none; color:#008688; }
A:active {text-decoration:none; color:#008688; }
A:hover {text-decoration:underline; color:#00989a; }

#contentdiv { margin:5px auto; padding:10px; background:#999; display:table; }
#titlediv { padding-bottom:5px; }
.titlespan { font-size:x-large; font-weight:bold; }
#countspan { font-size:medium; padding:0px 10px; }
#statspan { font-size:small; padding-left:10px; }
.paneldiv { margin:10px 0px 0px 0px; padding:10px; background:#ccc; }

.buttonico { max-height:30px; vertical-align:middle; padding:0px 5px; }
.dlgbuttonsdiv { text-align:center; }
.statdiv { font-size:medium; }

.statespan { padding-right:5px; }
.counterlabel { font-size:medium; font-style:italic; padding-right:5px; }
.countspan { font-size:medium; padding-right:5px; }
.mergemsgdiv { font-size:small; }
