html {
  min-height: 100%; margin:0; padding:0;
}

body {
  margin:0px;
  color:#111111;
  height:100%;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size:large;
  background:#000;
}

A:link {text-decoration:none; color:#008688; }
A:visited {text-decoration:none; color:#008688; }
A:active {text-decoration:none; color:#008688; }
A:hover {text-decoration:underline; color:#00989a; }

img { border:0px; vertical-align:middle; }

#contentdiv { margin:5px auto; width:100vw; max-width:600px; background:#999; 
  padding:5px 0px; }
#titlediv { padding-bottom:5px; }
.titlespan { font-size:x-large; font-weight:bold; }
#countspan { font-size:medium; padding:0px 10px; }
#statspan { font-size:small; padding-left:10px; }
.paneldiv { margin:10px; padding:10px; background:#ccc; }

.buttonico { max-height:30px; vertical-align:middle; padding:0px 5px; }
#dbdlgdiv { display:table; }
.dlgbuttonsdiv { text-align:center; }
.statdiv { font-size:medium; }

.statespan { padding-right:5px; }
.counterlabel { font-size:medium; font-style:italic; padding-right:5px; }
.countspan { font-size:medium; padding-right:5px; }
.mergemsgdiv { font-size:small; }
.cldiv { font-size:small; }


/****************************************/
/* Filter Panel */

.rangectrldiv { display:inline-block; position:relative; 
  margin:5px 10px 5px 0px; }
.rangetitlediv { position:absolute; top:5px; left:87px; font-size:large; }
.rangelowlabeldiv, .rangehighlabeldiv { position:absolute; top:36px;
  font-size:medium; color:#333; }
.rangelowlabeldiv { left:42px; }
.rangehighlabeldiv { right:15px; }
.rangeleftcurtdiv, .rangerightcurtdiv { position:absolute; top:2px;
  height:52px; background:black; opacity:0.2; }
.rangeleftcurtdiv { left:26px; }
.rangerightcurtdiv { right:2px; }
.vnobdiv { position:absolute; top:0px; left:0px; }
.hnobdiv { position:absolute; top:0px; left:0px; }
.mouseareadiv { position:absolute; top:0px; left:0px; cursor:pointer; }

#bowtiesdiv { text-align:center; }
.bowtiediv { display:inline-block; font-size:medium;
  margin:5px 10px 5px 0px; padding:5px;
  border:2px solid #777; border-radius:10px;
}
.btlabeldiv { text-align:center; }
.btleftb, .btmidb, .btrightb { color:white; background:#333; cursor:pointer;
  font-size:18px; font-weight:normal; padding:5px 8px; 
  box-shadow:1px 1px 1px #666; }
.btleftb { border-radius:10px 0px 0px 10px; }
.btrightb { border-radius:0px 10px 10px 0px; }

#ratdiv { margin:5px 10px 5px 0px; }
.gtoreqspan { font-size:large; font-weight:bold; }
#ratstarscontainerdiv { display:inline-block; margin-right:10px; 
  width:85px; height:15px; }
#ratstarsanchordiv { position:relative; cursor:pointer; }
#ratstarbgdiv { position:absolute; top:0px; left:0px; }
#ratstarseldiv { position:absolute; top:0px; left:0px; overflow:hidden; }
#inclunrb { background:#333; box-shadow:1px 1px 1px #666; cursor:pointer; 
  font-size:12px; }

#deckheaderdiv { padding-bottom:5px; }
.ico20 { height:20px; max-height:20px; }
#togfiltb { margin-right:5px; }
#toginfob { margin-left:12px; }
.dinfrecdiv { font-size:medium; }
.dinfrecnspan { font-size:small; }
